@using ETicket.Presentation.layer.Areas.Identity.Models.ViewModels;

@model ApplicationRolesVM

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

<div class="row">
    <div class="col-10">
        <h1>All Roles</h1>
    </div>

    <div class="col-2">
        <a href="/Identity/Role/Create" class="btn btn-light"><i class="bi bi-plus-circle"></i> Add New Role</a>
    </div>

</div>
<br />

<form>
    <div class="row">
        <div class="col-4">
            <div class="mb-3">
                <input type="text" class="form-control" name="query" id="exampleInputEmail1" placeholder="Search for Role">
            </div>
        </div>

        <div class="col-4">
            <button type="submit" class="btn btn-primary">Search</button>

        </div>
    </div>
</form>

<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col" class="border border-dark">Id</th>
            <th scope="col" class="border border-dark"> Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.roles)
        {
            <tr>
                <th scope="row" class="border border-dark">@item.Id</th>
                <th scope="row" class="border border-dark">@item.Name</th>
            </tr>
        }
    </tbody>
</table>


<div class="d-flex flex-row-reverse">

    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
            @for (int i = 1; i <= Model.TotalRoleCount; i++)
            {
                @if (Model.CurrentPageIndex == i)
                {
                    <li class="page-item"><a class="page-link active" href="/Identity/Role/Index?PageNumber=@i">@i</a></li>

                }
                else
                {
                    <li class="page-item"><a class="page-link " href="/Identity/Role/Index?PageNumber=@i">@i</a></li>
                }
            }
            <li class="page-item"><a class="page-link" href="#">Next</a></li>
        </ul>
    </nav>


</div>