﻿<div class="container row pt-4">
    <div class="col-12 text-center">
        <h1 class="text-primary text-center">congratulation, the payment was completed successfully.</h1>
        <h3>thanks</h3> <br /><br />
        <img src="~/Files/Images/paymentSuccess.webp" width="65%" />
    </div>
</div> 