@model Actor
<br />
<br />
<div class="card mb-3">
    <img src="~/Files/Images/cast/@Model.ProfilePicture"class="card-img-top" style="width:100px" alt="...">
    <div class="card-body">
        <h5 class="card-title">@Model.FirstName @Model.LastName</h5>
        <p class="card-text">@Model.Bio</p>
    </div>
</div>