
@using ETicket.Presentation.layer.Areas.Identity.Models.ViewModels
@model ForgetPasswordVM
@{
	ViewData["Title"] = "ForgetPassword";
	Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<h1>Reset Password</h1>

<div asp-validation-summary="All" class="text-danger"></div>
<div class="main-agileinfo">
	<div class="agileits-top">

		<form asp-action="ForgetPassword" asp-controller="Account" asp-area="Identity" method="post">
			<div class="row">


				<div class="form-group">
					<input class="text" type="email" name="Email" placeholder="Email" required="">
					<span asp-validation-for="@Model.Email" class="text-danger"></span>
					<br />
				</div>

			</div>

			
			<input type="submit" value="Reset Password">
		</form>
		
	</div>
</div>


<script>
	function previewImage(event) {
		var reader = new FileReader();
		reader.onload = function () {
			var output = document.getElementById('preview');
			output.src = reader.result;
			output.style.display = 'block';
		};
		reader.readAsDataURL(event.target.files[0]);
	}
</script>


@section Scripts
{
	<partial name="_ValidationScriptsPartial" />
}

