@using ETicket.Presentation.layer.Areas.Identity.Models.ViewModels.ViewAccountModel;

@model ResetPasswordVM;
@{
    ViewData["Title"] = "ChangePassword";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Reset Password</h1>

<div asp-validation-summary="All"></div>
<form action="ResetPassword" method="post">
    <input type="hidden" name="Email" value="@Model.Email"/>
    <input type="hidden" name="Token" value="@Model.Token"/>

    <div class="form-group">
        <label for="exampleInputPassword1">New Password</label>
        <input type="password" name="NewPassword" class="form-control" id="exampleInputPassword1" placeholder="New Password">
        <span asp-validation-for="@Model.NewPassword" class="text-danger"></span>

        <br />
    </div>
    <div class="form-group">
        <label for="exampleInputPassword1">Confirm New Password</label>
        <input type="password" class="form-control" name="ConfirmNewPassword" id="exampleInputPassword1" placeholder="Confirm New Password">
        <span asp-validation-for="@Model.ConfirmNewPassword" class="text-danger"></span>
    </div>
   
    <br />
    <button type="submit" class="btn btn-primary">Reset</button>
</form>


@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"> </script>

    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"> </script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"> </script>


}